/* CSS WRITTEN IN HASTE, PLEASE DO NOT REFER FOR BEST PRACTICES */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --primary: #1b1a47;
    --secondary: #27cda5;
    --font-primary: #ececef;
}

* {
    font-family: 'Orelega One', cursive;
}   

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5rem 0.75rem;
    background-color: var(--primary);
    color: var(--font-primary);   
}

main {
    flex: 1;
    background-color: #ccc;

    display: flex;
    flex-direction: column;
    position: relative;
}

.save-btn {
    display: flex;
    justify-content: flex-end !important;
    padding: 0 1rem;
    position: absolute;
    left: 92%;
}

.calculator {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.metric {
    padding: 1.5rem;
    background-color: var(--primary);
    color: var(--font-primary);
    border-radius: 4px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0 2rem;

    font-weight: bold;
    font-size: 2rem;
}

.metric h4 {
    margin: 0.5rem;
    padding: 0;
}

.buttons {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.buttons button {
    background-color: var(--font-primary);
    color: var(--primary);
    border-radius: 4px;
    border: thin solid var(--primary);
    padding: 0.65rem 1rem;
    font-size: 1rem;

    cursor: pointer;
}

.buttons button:active {
    background-color: var(--primary);
    color: var(--font-primary);
}

.result {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.score, .description {
    padding: 2rem;
    background-color: var(--primary);
    margin: 0.5rem 0;
    color: var(--font-primary);
    font-size: 2rem;
}