/* CSS WRITTEN IN HASTE, PLEASE DO NOT REFER FOR BEST PRACTICES */
@import url('https://fonts.googleapis.com/css2?family=Orelega+One&display=swap');

:root {
    --primary: #1b1a47;
    --secondary: #27cda5;
    --font-primary: #ececef;
}

* {
    font-family: 'Orelega One', cursive;
}

body {
    margin: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

header {
    padding: 0.5rem 0.75rem;
    background-color: var(--primary);
    color: var(--font-primary);   
}

main {
    flex: 1;
    background-color: #ccc;

    display: flex;
    flex-direction: column;
    position: relative;
}

.save-btn {
    display: flex;
    justify-content: flex-end !important;
    padding: 0 1rem;
    left: 92%;
}

.buttons {
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.buttons button {
    background-color: var(--font-primary);
    color: var(--primary);
    border-radius: 4px;
    border: thin solid var(--primary);
    padding: 0.65rem 1rem;
    font-size: 1rem;

    cursor: pointer;
}

.buttons button:active {
    background-color: var(--primary);
    color: var(--font-primary);
}

.table {
    padding: 1rem;
    background: white;
    margin: 1rem;
    display: flex;
    flex-direction: column;
}

.table-header, .table-body div {
    display: flex;
    padding: 0.25rem;
}

.table-header span, .table-body div span {
    flex-basis: 33%;
}

.table-header span {
    font-weight: bold;
    font-size: 1rem;
}